@import "../abstract/variables";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $font-manrope;
}

a {
    text-decoration: none;
}

.wrapper {
    padding: 0 16px;
    
    @media (min-width: $bp-md) {
        padding: 0 32px;
    }

    @media (min-width: $bp-lg) {
        max-width: 1170px; 
        margin: 0 auto;
    }
}