@import "../abstract/variables";
@import "../abstract/mixins";

h2 {
    @include font ($font-dynapuff, 48px, 700, 57px);

    @media (min-width: $bp-md) {
        font-size: 80px;
        line-height: 96px;
    }
}

h3 {
    @include font ($font-dynapuff, 36px, 700, 43px, $text-yellow);

    @media (min-width: $bp-md) {
        font-size: 48px;
        line-height: 57px;
    }
}

h4 {
    @include font ($font-dynapuff, 32px, 600, 38px, $text-grey);

    @media (min-width: $bp-md) {
        font-size: 40px;
        line-height: 48px;
        }
}

h5 {
    @include font ($font-dynapuff, 24px, 700, 28px, $text-grey);

    @media (min-width: $bp-md) {
        font-size: 32px;
        line-height: 38px;
    }
}

h6 {
    @include font ($font-dynapuff, 36px, 700, 43px);

    @media (min-width: $bp-md) {
        font-size: 80px;
        line-height: 96px;
    }
}

