@import "../abstract/variables";
@import "../abstract/mixins";

.footer-block {
    background-color: $background-primary;

    padding: 53px 0px 40px 0px;

    @media (min-width: $bp-md) {
        padding: 96px 0px 35px 0px;
    }

    @media (min-width: $bp-lg) {
        padding: 78px 0px 30px 0px;
    }
}

.footer_link-button {
    width: 100%;
    padding: 12px 0px;
    border: 1px solid $border-grey; 
    border-radius: 139px;

    @include flex (center, center, row);
    gap: 20px;

    @media (min-width: $bp-md) {
        padding: 21px 0px;
    }

    @media (min-width: $bp-lg) {
        margin: 0px auto;
        padding: 42px 0px;
        max-width: 914px;
    }
}

.footer_link-img {
    height: 52px;

    @media (min-width: $bp-md) {
        height: 108px;
    }
}

.footer_link-title {
    display: block;

    @include font ($font-dynapuff, 20px, 700, 24px, $text-white);

    @media (min-width: $bp-md) {
        @include font ($font-dynapuff, 48px, 700, 57px, $text-white);
    }
}

.footer_link-text {
    display: inline-block;
    margin-top: 4px;

    @include font ($font-manrope, 15px, 500, 20px, $text-white);

    @media (min-width: $bp-md) {
        margin-top: 17px;

        @include font ($font-dynapuff, 24px, 500, 32px, $text-white);
    }
}

.footer_link-arrow {
    margin-left: 24px;
    vertical-align: middle;
    height: 15px;

    @media (min-width: $bp-md) {
        height: 26px;
    }
}

.footer-block__social-medias {
    margin-top: 113px;
    
    @include flex (center, center, row);
    gap: 34px;

    @media (min-width: $bp-md) {
        margin-top: 60px;
    }

    @media (min-width: $bp-lg) {
        margin-top: 163px;
    }
}

.footer_coopyright-text {
    display: block;
    margin-top: 21px;
    text-align: center;

    @include font ($font-manrope, 14px, 500, 19px, $text-white);

    @media (min-width: $bp-md) {
        @include font ($font-manrope, 16px, 500, 21px, $text-white);
    }
}