@import "../abstract/variables";
@import "../abstract/mixins";

.graphics-design {
    background-color: $background-primary;
    padding: 58px 0px 93px 0px;

    @media (min-width: $bp-md) {
        padding: 82px 0px 129px 0px;
    }

    @media (min-width: $bp-md) {
        padding: 82px 0px 138px 0px;
    }
}

.graphics-design__container {
    margin-top: 28px;

    @media (min-width: $bp-md) {
        margin-top: 38px;
    }
}

.graphics-design__picture-item {
    width: 100%;
    
}

.graphics-design__picture-item--main {
    max-width: 100%;
}

.graphics-design__container--flex-row {
    margin-top: 20px;
    width: 100%;

    @media (min-width: $bp-md) {
        margin-top: 26px;
        @include flex (space-between);
        gap: 34px;
    }

    @media (min-width: $bp-md) {
        gap: 26px;
    }
}

.graphics-design__link {
    display: inline-block;
    width: 100%;
}

.graphics-design__link--star-pseudo {
    position: relative;

    &::after {
        content: "";
        display: inline-block;
        background-image: url(../../img/graphics-design/star.svg);
        position: absolute;
        width: 172px;
        height: 172px;
        z-index: 3;
        background-size: contain;
        background-repeat: no-repeat;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        @media (min-width: $bp-md) {
            width: 227px;
            height: 227px;
        }

        @media (min-width: $bp-lg) {
            width: 268px;
            height: 268px;
        }

    }
}

.graphics-design__link--asteriks-pseudo {
    margin-top: 32px;
    position: relative;

    &::after {
        content: "";
        display: inline-block;
        background-image: url(../../img/graphics-design/asteriks.svg);
        position: absolute;
        width: 148px;
        height: 143px;
        z-index: 3;
        background-size: contain;
        background-repeat: no-repeat;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        @media (min-width: $bp-md) {
            width: 183px;
            height: 177px;
        }

        @media (min-width: $bp-lg) {
            width: 233px;
            height: 225px;
        }
    }

    @media (min-width: $bp-md) {
        margin-top: 0px;
    }
}

.graphics-design__link--butterfly-pseudo {
    position: relative;

    &::after {
        content: "";
        display: inline-block;
        background-image: url(../../img/graphics-design/butterfly.svg);
        position: absolute;
        width: 134px;
        height: 137px;
        z-index: 3;
        background-size: contain;
        background-repeat: no-repeat;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        @media (min-width: $bp-md) {
            width: 147px;
            height: 151px;
        }

        @media (min-width: $bp-lg) {
            width: 187px;
            height: 191px;
        }
    }
}