@import "../abstract/variables";
@import "../abstract/mixins";


header {
    width: 100%;
    top: 0px;
    position: fixed;
    z-index: 999;
}

.wrapper--flex-header {
    @include flex (space-between, center);
}

.header__container {
    padding: 27px 0px;

    @media (min-width: $bp-md) {
        padding: 38px 0px;
    }

    @media (min-width: $bp-lg) {
        padding: 41px 0px;
    }
}

.header__nav {
    @media (min-width: $bp-lg) {
        @include flex (space-between, center);
        gap: 20px;
    }
}

.header__nav-link{
    display: none;

    @media (min-width: $bp-lg) {
        @include flex (space-between, center);
        gap: 12px;

        padding: 10px 16px;
        height: fit-content;

        border: 1px solid $border-link;
        border-radius: 20px;

        &:hover {
            border: 2px solid $border-link;
        }
    }
}

.header__nav-span {
    color: $text-white;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
}
