@import "../abstract/variables";
@import "../abstract/mixins";

.hero-banner {
    background: $hero-background;
    
    width: 100%;
    height: 800px;

    padding-top: 412px;

    @media (min-width: $bp-md) {
        padding-top: 273px;
    }

    @media (min-width: $bp-lg) {
        padding-top: 491px;
    }
}

.main-background__title {
    @media (min-width: $bp-md) {
        max-width: 521px;
    }

    @media (min-width: $bp-lg) {
        max-width: 896px;
    }
}