@import "../abstract/variables";
@import "../abstract/mixins";

.meet-block {
    background: $background-primary;

    padding: 72px 0px;

    position: relative;

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('../../img/meet-block/ellipse-mobile.svg'); 
      background-position: right; 
      background-repeat: no-repeat; 
    }

    @media (min-width: $bp-md) {
        padding: 102px 0px;

        &::after {
            background-image: url('../../img/meet-block/ellipse-tablet.svg')
        }
    }
    @media (min-width: $bp-lg) {
        &::after {
            background-image: url('../../img/meet-block/ellipse-desktop.svg')
        }
    }
}

.meet-block__text {
    max-width: $meet-width-block-tablet;;
}

.meet-block__title {
    max-width: $meet-width-mobile-title;
    
    @media (min-width: $bp-md) {
        max-width: none;
    }
}

.meet-block__paragraph {
    margin-top: 40px; 
    max-width: $meet-width-mobile-p;

    @include font ($font-manrope, 15px, 500, 20px, $text-white);

    @media (min-width: $bp-md) {
        font-size: 16px;
        line-height: 21px;
        max-width: $meet-width-tablet-p;
    }
}

.meet-block__amounts {
    margin-top: 40px;

    max-width: $meet-width-block-mobile;

    @include flex (space-between);
    gap: 14px;

    @media (min-width: $bp-md) {
        max-width: $meet-width-block-tablet;
    }
}

.meet-block__amounts-item {
    max-width: 96px;

    & h3 {
        color: $text-white;
    }

    & span {
        max-width: 75px;

        @include font ($font-manrope, 16px, 700, 20px, $text-white);
    }

    @media (min-width: $bp-md) {
        max-width: 116px;

        & span {
            margin-top: 5px;
            max-width: none;
        }
    }
}