@import "../abstract/variables";
@import "../abstract/mixins";

.projects-block {
    background-color: $background-secondary;

    padding-top: 52px;
    padding-bottom: 82px;

    @media (min-width: $bp-md) {
        padding-bottom: 122px;
    }

    @media (min-width: $bp-lg) {
        padding-top: 86px;
        padding-bottom: 86px;
    }
}

.wrapper--flex {
    @include flex (space-between, center, column);
    gap: 63px;

    @media (min-width: $bp-md) {
        gap: 102px;
    }

    @media (min-width: $bp-lg) {
        gap: 63px;
    }
}

.projects-block__app-link {
    display: inline-block;
    background-color: $background-white;
    width: 100%;
    border-radius: 24px;
    min-width: 343px;
}

.projects-block__app-link--main {
    padding: 16px;
    

    @media (min-width: $bp-lg) {
        padding: 20px 24px;
    }
}

.projects-block__app-link--show-tablet,
.projects-block__app-link--show-desktop,
.projects-block__app-link--side {
    padding: 12px;


    @media (min-width: $bp-md) {
        padding: 20px;
        width: 328px;
    }

    @media (min-width: $bp-lg) {
        width: 325px;
    }
}

.projects-block__app-link--show-tablet {
    

    @media (min-width: $bp-md) {
        display: inline-block;
    }

    display: none;
}

.projects-block__app-link--show-desktop {
    @media (min-width: $bp-lg) {
        display: inline-block;
    }

    display: none;
}

.projects-block__app-link {
    position: relative;
    
    &::after {
      content: "";
      background-image: url('../../img/projects-block/arrow.svg'); 
      display: block;
      position: absolute;
      top: 40px;
      right: 40px;
      width: 56px;
      height: 56px;
      background-size: cover;
      background-repeat: no-repeat;
      z-index: 1; 
    }
}

.projects-block__picture-item {
    width: 100%;
}

.projects-block__side-picture {
    width: 100%;

    @media (min-width: $bp-md) {
        height: 448px;
    }

    @media (min-width: $bp-lg) {
        height: 338px;
    }
}

.projects-block__title {
    margin-top: 20px;
}

.projects-block__title--main {
    @media (min-width: $bp-md) {
        max-width: 580px;
    }
}

.projects-block__description {
    display: inline-block;
    margin-top: 22px;
}

.projects-block__description--main {
    @include font ($font-manrope, 15px, 700, 20px, $text-black);

    @media (min-width: $bp-md) {
        font-size: 16px;
        line-height: 21px;
    }
}

.projects-block__description--side {
    @include font ($font-manrope, 15px, 500, 20px, $text-black);

    @media (min-width: $bp-md) {
        font-size: 16px;
        line-height: 21px;
    }
}

.projects-block__container {
    @media (min-width: $bp-md) {
        width: 100%;
        @include flex (space-between);
    }
}