@import "../abstract/variables";
@import "../abstract/mixins";

.quote-block {
    background-image: url("../../img/quote-block/background--mobile.png");
    
    width: 100%;
    height: 498px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media (min-width: $bp-md) {
        background-image: url("../../img/quote-block/background--tablet.png");
        height: 800px;
    }

    @media (min-width: $bp-lg) {
        background-image: url("../../img/quote-block/background--desktop.png");
    }

}

.wrapper--flex-column {
    height: 100%;
    @include flex (center, center, column)
}

.quote-block__title {
    text-align: center;

    @include font ($font-dynapuff, 24px, 700, 28px, $text-white);

    @media (min-width: $bp-md) {
        font-size: 48px;
        line-height: 57px;
    }

}
