$font-dynapuff: "DynaPuff", sans-serif;
$font-manrope: "Manrope", sans-serif;

$bp-md: 768px;
$bp-lg: 1200px;

$background-primary: #202020;
$background-secondary: #3C3C3C;
$background-white: #FFFEF2;

$hero-background: linear-gradient(253deg, #FFEE32 -13.48%, #D6D6D6 125.48%);


$text-white: #FFFFFF;
$text-yellow: #FAEB49;
$text-grey: #565656;
$text-black: #000000;

$border-link: #FFFFFF;
$border-grey: #F2F2F2;

$meet-width-block-mobile: 342px;
$meet-width-block-tablet: 540px;
$meet-width-mobile-title: 342px;
$meet-width-mobile-p: 342px;
$meet-width-tablet-p: 524px;
